.select2-selection {
    height: 38px !important;
}

.chat-box {
    max-height: 400px;
    overflow-y: auto;
}
.message {
    margin: 10px 0;
}
.message.user {
    text-align: right;
}
.message.bot {
    text-align: left;
}
.message .msg-content {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}
.message-recommendation .msg-content {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
}
.message.user .msg-content {
    background-color: #007bff;
    color: white;
}
.message.bot .msg-content {
    background-color: #e9ecef;
    color: black;
}
.message-recommendation.bot .msg-content {
    background-color: #e9ecef;
    color: grey;
}

/* HTML: <div class="loader"></div> */
.loaderbot {
height: 8px;
aspect-ratio: 5;
display: grid;
--_g: no-repeat radial-gradient(farthest-side,#000 94%,#0000);
}
.loaderbot:before,
.loaderbot:after {
content: "";
grid-area: 1/1;
background:
    var(--_g) left,
    var(--_g) right;
background-size: 20% 100%;
animation: l32 1s infinite; 
}
.loaderbot:after { 
background:
    var(--_g) calc(1*100%/3),
    var(--_g) calc(2*100%/3);
background-size: 20% 100%;
animation-direction: reverse;
}
@keyframes l32 {
80%,100% {transform:rotate(.5turn)}
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.3s linear infinite;
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spesifikasi {
    white-space: pre-line;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}